<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="my-header-about">A little About Me...</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 about-me opa-0-65">
            In 2012 I started a course at <a href="http://www.avondschool.be/" class="actionlink-no-link"><b>Cvo Panta Rhei</b></a>.
            This was the start of a life-changing path that will hopefully never end.
            I completed this 3-year course in 4 years while working full-time.<br />
            <br />
            In this course, I learned the basics of <b>O</b>bject <b>O</b>riented <b>P</b>rogramming in Visual Basic and Java
            whilst also learning the terminology associated with this new world.
            A <i>string</i> is no longer a piece of rope, a <i>class</i> is not just something I go to anymore
            and the evolutionary ladder of my new religion starts with <i>Object</i>.<br />
            <br />
            Among these 2 main programming languages, I also had my first encounters with 
            MySql, Html and Css3, Regex, XML, Javascript, C# and ASP.NET.
            During these 4 years, I also took some classes, 
            at <a href="http://www.hetperspectief.net/" class="actionlink-no-link"><b>Pcvo Het Perspectief</b></a>,
            in Java and Android. This did not necessarily propel me faster to my goals, 
            but different teachers gave me different perspectives. And that alone was worth the effort.
            I had the luxury of learning from a lot of teachers during this time, 
            some were patient and relaxed, some were harsh and strict but they are all very skilled in what they taught.<br />
            <br />
            Right now I am following a web development course at <a href="https://www.kisp.be/" class="actionlink-no-link"><b>Cvo Kisp</b></a>,
             this course focuses on ASP.NET and Angular 2 with RESTful Webservices.
            I choose this course because I enjoy the back-end side of solving problems 
            and creating solutions combined with the front-end of 
            developing handy User-Interfaces.
            A pet peeve of mine lately is that I cannot stand bad interfaces anymore 
            because any action that takes 5 clicks to perform is just too much work for an end user.<br />
            <br />
            My goal is to become a respectable programmer and developer, and my next step it to acquire the
            relevant experience in my chosen specialization.<br />
            <br />
            I am hoping to start a new career in this field very soon.<br />
            <br />
            If you would like to know more about me or have questions, feel free to contact me through the contact page on this website.
        </div>
    </div>

</div>