<div class="container">
    <div class="row">
        <div class="col-lg-12 jumbotron my-homepage-jumbo">
            <div class="page-header">
                <h1>"Hello World"</h1> <br />
            </div>            
            With these 2 words I started my journey in 2012 to become a programmer. 
            A friend had directed me to <a href="http://www.learncpp.com/">Learn C++ dot Com</a>.<br />
            After completing this tutorial, I decided to inlist in a 3 year evening course that would
            change the entire way I think and solve problems.

            I want to thank that friend, who's real name I don't even know,
            and all the other people who supported me through those years.
        </div>
    </div>
</div>
