
<div data-spy="scroll" data-target=".navbar">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="#section1">Pr1</a></li>
                <li><a href="#section2">Pr2</a></li>
                <li><a href="#section3">Pr3</a></li>
            </ul> 
        </div>  
    </nav>
    <div id="section1">
        2255
        <div class="jumbotron">ff
        
        
        
        
        </div>
    </div>
    <div id="section2">
        5555
        <div class="jumbotron">ff
        
        
        
        
        </div>
    </div>
    <div id="section3">
        555
        <div class="jumbotron">ff
        
        
        
        
        
        </div>
    </div>

</div>
