body {
    font-family: Comic Sans MS, Comic Sans;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/************/
/*MY OWN CSS*/
/************/
.my-font{
    font-family: Comic Sans MS, Comic Sans;
}
.my-header {
    padding-top: 10px;
    height: 75px;
}

.space-under-header {
    height: 150px;
}

.img-my-header {
    position: absolute;
    margin-top: 10px;
    height: 150px;
    width: 100px;
    border: solid 2px #222222;
}

.my-header-links {
    font-family: Comic Sans MS, Comic Sans;
    font-weight: 800;
    font-size: 15px;
}

.my-header-cv {
    font-family: Comic Sans MS, Comic Sans;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 10px;
}

.my-sub-header-cv {
    font-family: Comic Sans MS, Comic Sans;
    font-weight: 800;
    font-size: 18px;
}

.about-me {
    font-family: Verdana,sans-serif;
    font-size: 1.2em;
    /*max-width: 75%;
    margin-left: 15%;*/
}

.my-header-about {
    font-family: Comic Sans MS, Comic Sans;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 10px;
    margin-left: 15%;
}

.contact-me{
    
}
/*To Have GLyphicons not appear as a link when used in a ActionLink*/
.actionlink-no-link {
    text-decoration: none;
    color: black;
}

    .actionlink-no-link:hover {
        text-decoration: none;
        color: black;
    }

    .actionlink-no-link:visited {
        text-decoration: none;
        color: black;
    }

.actionlink-red {
    text-decoration: none;
    color: #B94A48;
}

    .actionlink-red:hover {
        text-decoration: none;
        color: #B94A48;
    }

    .actionlink-red:visited{
        text-decoration: none;
        color: #B94A48;
    }
/*To Have Glyphicons inside buttons without looking like a button*/
.btn-no-button {
    border: none;
    background-color: transparent;
    padding: 0px;
}

/*To Enlarge Glyphicons*/


.gi-1-5x {
    font-size: 1.5em;
}

.gi-2x {
    font-size: 2em;
}

.gi-3x {
    font-size: 3em;
}

.gi-4x {
    font-size: 4em;
}

.gi-5x {
    font-size: 5em;
}

/************/
/*Smartphone*/
/************/
@media only screen and (min-width:480px) {
    .my-homepage-jumbo {
        font-size: 15px;
    }

    .my-header-links {
        font-family: Comic Sans MS, Comic Sans;
        font-weight: 800;
        font-size: 15px;
    }

    .about-me {
        font-family: Verdana,sans-serif;
        font-size: 1.2em;
    }
}


/************/
/*Tablet    */
/************/
@media only screen and (min-width:768px) {
    .my-homepage-jumbo {
        font-size: 16px;
    }

    .my-navbar-paddingleft {
        padding-left: 15%;
    }

    .my-header-links {
        font-family: Comic Sans MS, Comic Sans;
        font-weight: 800;
        font-size: 20px;
    }

    .about-me {
    font-family: Verdana,sans-serif;
    font-size: 1.2em;
    max-width: 85%;
    margin-left: 15%;
}
}


/************/
/*Desktop   */
/************/
@media only screen and (min-width:992px) {
    .my-homepage-jumbo {
        font-size: 20px;
    }

    .my-navbar-paddingleft {
        padding-left: 15%;
    }

    .my-header-links {
        font-family: Comic Sans MS, Comic Sans;
        font-weight: 800;
        font-size: 20px;
    }

    .about-me {
    font-family: Verdana,sans-serif;
    font-size: 1.2em;
    max-width: 75%;
    margin-left: 15%;
}
}


/************/
/*Widescreen*/
/************/
@media only screen and (min-width:1200px) {
    .my-homepage-jumbo {
        font-size: 26px;
    }

    .my-navbar-paddingleft {
        padding-left: 15%;
    }

    .my-header-links {
        font-family: Comic Sans MS, Comic Sans;
        font-weight: 800;
        font-size: 20px;
    }

    .about-me {
    font-family: Verdana,sans-serif;
    font-size: 1.2em;
    max-width: 75%;
    margin-left: 15%;
}
}
